@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    }

#wrappermain {
    display: grid;
    background: rgb(50, 50, 50);
    grid-template-columns: minmax(100px, 1fr)*7;
    grid-template-rows: minmax(80px, 0.85fr) minmax(400px, 4.95fr) minmax(200px, 2fr) minmax(250px, 3fr) minmax(80px, 0.8fr);
    gap: 0px;   
    grid-template-areas: 
        "he .  .  .  .  .  na "
        "hu hu hu hu hu hu hu "
        "hm hm hm hm hm hm hm"
        "hl hl hl hl hl hl hl "
        "fo fo fo fo fo fo fo";
    width: 100vw;
    min-height: 200vh;
    height: auto;

    font-family: 'Kanit', sans-serif;
}

header {
    grid-area: he;
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.625rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: na;
    background-color: rgb(50, 50, 50);       
}

#nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    width: 31.25rem;
    justify-content: space-evenly;
}

#hpu {
    grid-area: hu;
    background-image: url("../img/mainbackground.png");
    background-color: rgba(255, 217, 0, 0.678);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4rem;

}

#hpm {
    grid-area: hm;
    background-color: rgb(33, 33, 33, 0.5);
}

#idea {
    grid-area: id;
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
}

#ideatext {
    grid-area: it;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}

#hpl_wrapper {
    grid-area: hl;
    background-color: rgba(58, 97, 97, 0.5);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(250px, 3fr);
    grid-template-areas: "rp re";
}

#home_page_lower_reviews {
    grid-area: re;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 10%;
}

#home_page_lower_pics {
    grid-area: rp;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 1rem;
}
    
footer {
    grid-area: fo;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: row;
}

footer {
    grid-area: fo;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
}

#footer_links {
    list-style: none;
    display: flex;
}

.footimg {
    height: 80px;
    max-height: 0.45fr;
    width: 80px;
    max-width: auto;
}


h1 {
    color: white;
    font-size: 5.5625rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: white;
    font-size: 3.4375rem; 
}

h3 {
    color: white;
    font-size: 2.125rem;
}

p {
    color: white;
    font-size: 1rem;
}

img {
    color: white;
    font-size: 1rem;
    object-fit: cover;
    object-position: bottom;
}

a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

a:hover {
    color: grey;
}

.logo {
    height: 80px;
    width: auto;
}

li {
    margin: 1rem;
}

#matbild1 {
    height: 125px;
    width: 125px;
}

#matbild2 {
    height: 125px;
    width: 125px;
}